<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.rom.quizup.client"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>

    <!-- uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" / -->
    <application
        android:name=".QuizupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <!intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ui.SignInActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Quizup.FullLogoActionBar">
        </activity>
        <activity
            android:name=".ui.game.GameActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <!--
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rom.quizup.client.ui.MainActivity"/>
        </activity>
        -->
        <activity
            android:name=".ui.opponentslist.OpponentListActivity"
            android:label="@string/title_activity_opponent_list"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rom.quizup.client.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.summary.GameSummaryActivity"
            android:label="@string/title_activity_game_summary"
            android:screenOrientation="portrait"
            android:theme="@style/Quizup.NoActionBar">
        </activity>
        <activity
            android:name=".ui.lobby.LobbyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Quizup.NoActionBar">
        </activity>

        <!--
             service
            android:name=".social.GooglePlusService"
            android:enabled="true"/
        -->


        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.rom.quizup.client"/>
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".gcm.QuGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <service
            android:name=".gcm.QuInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <service
            android:name=".gcm.QuRegistrationIntentService"
            android:exported="false">
        </service>

        <activity android:name=".AboutActivity">
        </activity>
    </application>

</manifest>
